#folder
.ssh
node_modules
deploy
vendor
#files
composer.lock
composer.phar
composer-setup.php
composer.json
deploy.php
deploy.sh
*.pem
*.key
*.crt
*.csr
*.pfx
*.p12
*.der
*.jks
*.keystore
*.p7b
*.p7c
*.pem
*.key
*.env
*.env.local
*.env.development
*.env.test
*.env.production
*.log
