/** @format */

body {
  overflow-x: hidden;
}

#wrapper {
  display: flex;
}

/* Sidebar */
#sidebar {
  width: 250px;
  min-height: 100vh;
}

/* Sticky sidebar */
#sidebar {
  position: sticky;
  top: 0;
}

/* Content */
#content {
  width: 100%;
}

#sidebar .nav-link {
  transition: all 0.2s ease;
  border-radius: 8px;
}

/* Hover effect */
#sidebar .nav-link:hover {
  transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

/* Active state biar beda */
#sidebar .nav-link.active {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: 500;
}
